# Predicting Higher Education Students Performance

<hr>
From the dataset documentation:

Student ID<br/>
1- Student Age (1: 18-21, 2: 22-25, 3: above 26)<br/>
2- Sex (1: female, 2: male)<br/>
3- Graduated high-school type: (1: private, 2: state, 3: other)<br/>
4- Scholarship type: (1: None, 2: 25%, 3: 50%, 4: 75%, 5: Full)<br/>
5- Additional work: (1: Yes, 2: No)<br/>
6- Regular artistic or sports activity: (1: Yes, 2: No)<br/>
7- Do you have a partner: (1: Yes, 2: No)<br/>
8- Total salary if available (1: USD 135-200, 2: USD 201-270, 3: USD 271-340, 4: USD 341-410, 5: above 410)<br/>
9- Transportation to the university: (1: Bus, 2: Private car/taxi, 3: bicycle, 4: Other)<br/>
10- Accommodation type in Cyprus: (1: rental, 2: dormitory, 3: with family, 4: Other)<br/>
11- Mothersâ€™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)<br/>
12- Fathersâ€™ education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)<br/>
13- Number of sisters/brothers (if available): (1: 1, 2:, 2, 3: 3, 4: 4, 5: 5 or above)<br/>
14- Parental status: (1: married, 2: divorced, 3: died - one of them or both)<br/>
15- Mothersâ€™ occupation: (1: retired, 2: housewife, 3: government officer, 4: private sector employee, 5: self-employment, 6: other)<br/>
16- Fathersâ€™ occupation: (1: retired, 2: government officer, 3: private sector employee, 4: self-employment, 5: other)<br/>
17- Weekly study hours: (1: None, 2: <5 hours, 3: 6-10 hours, 4: 11-20 hours, 5: more than 20 hours)<br/>
18- Reading frequency (non-scientific books/journals): (1: None, 2: Sometimes, 3: Often)<br/>
19- Reading frequency (scientific books/journals): (1: None, 2: Sometimes, 3: Often)<br/>
20- Attendance to the seminars/conferences related to the department: (1: Yes, 2: No)<br/>
21- Impact of your projects/activities on your success: (1: positive, 2: negative, 3: neutral)<br/>
22- Attendance to classes (1: always, 2: sometimes, 3: never)<br/>
23- Preparation to midterm exams 1: (1: alone, 2: with friends, 3: not applicable)<br/>
24- Preparation to midterm exams 2: (1: closest date to the exam, 2: regularly during the semester, 3: never)<br/>
25- Taking notes in classes: (1: never, 2: sometimes, 3: always)<br/>
26- Listening in classes: (1: never, 2: sometimes, 3: always)<br/>
27- Discussion improves my interest and success in the course: (1: never, 2: sometimes, 3: always)<br/>
28- Flip-classroom: (1: not useful, 2: useful, 3: not applicable)<br/>
29- Cumulative grade point average in the last semester (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)<br/>
30- Expected Cumulative grade point average in the graduation (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)<br/>
31- Course ID<br/>
32- OUTPUT Grade (0: Fail, 1: DD, 2: DC, 3: CC, 4: CB, 5: BB, 6: BA, 7: AA)<br/>

In [1]:
# Import the dependencies.
from pathlib import Path
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import sklearn as skl
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Create an engine to retrieve the data from PostgreSQL database.
engine = create_engine(f"postgresql://postgres:{db_password}@localhost:5432/student_data_db")

In [3]:
# Retrieve the data and place it into a DataFrame
sql_query = "SELECT * FROM student_data"
student_df = pd.read_sql(sql_query, engine)
student_df.head(10)

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
5,STUDENT6,2,2,2,3,2,2,2,2,1,...,1,1,1,2,1,2,4,4,1,2
6,STUDENT7,1,2,2,4,2,2,2,1,1,...,1,1,3,3,3,3,4,4,1,5
7,STUDENT8,1,1,2,3,1,1,1,2,2,...,3,1,3,2,2,1,1,1,1,2
8,STUDENT9,2,1,3,3,2,1,1,1,1,...,1,1,3,2,2,2,4,3,1,5
9,STUDENT10,2,1,2,3,2,2,1,3,4,...,1,1,2,2,2,2,1,2,1,0

# Preprocessing the data

In [4]:
# Drop Student ID column
student_df = student_df.drop('STUDENT ID', axis=1)
student_df.head()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,1,2,1,1,1,1
1,2,2,3,3,1,2,2,1,1,1,...,1,1,3,2,3,2,2,3,1,1
2,2,2,2,3,2,2,2,2,4,2,...,1,1,2,2,1,1,2,2,1,1
3,1,1,1,3,1,2,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
4,2,2,1,3,2,2,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1

In [5]:
# check for nulls and data types
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          145 non-null    int64
 1   2          145 non-null    int64
 2   3          145 non-null    int64
 3   4          145 non-null    int64
 4   5          145 non-null    int64
 5   6          145 non-null    int64
 6   7          145 non-null    int64
 7   8          145 non-null    int64
 8   9          145 non-null    int64
 9   10         145 non-null    int64
 10  11         145 non-null    int64
 11  12         145 non-null    int64
 12  13         145 non-null    int64
 13  14         145 non-null    int64
 14  15         145 non-null    int64
 15  16         145 non-null    int64
 16  17         145 non-null    int64
 17  18         145 non-null    int64
 18  19         145 non-null    int64
 19  20         145 non-null    int64
 20  21         145 non-null    int64
 21  22         145 non-null    int64
 22  23         145 non-null    int64
 23  24         145 non-null    int64
 24  25         145 non-null    int64
 25  26         145 non-null    int64
 26  27         145 non-null    int64
 27  28         145 non-null    int64
 28  29         145 non-null    int64
 29  30         145 non-null    int64
 30  COURSE ID  145 non-null    int64
 31  GRADE      145 non-null    int64
dtypes: int64(32)
memory usage: 36.4 KB

In [6]:
# Replace the "2" with "0" used for "no" and "male" in features 2, 5, 6, 7, 20
mapping_dict = {2:0, 1:1}  # Defines the mapping dictionary
mapped_student_df = student_df
mapped_student_df.loc[:,['2', '5', '6', '7', '20']] = mapped_student_df[['2', '5', '6', '7', '20']].applymap(mapping_dict.get)
mapped_student_df.head(10)

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,2,0,3,3,1,0,0,1,1,1,...,1,1,3,2,1,2,1,1,1,1
1,2,0,3,3,1,0,0,1,1,1,...,1,1,3,2,3,2,2,3,1,1
2,2,0,2,3,0,0,0,2,4,2,...,1,1,2,2,1,1,2,2,1,1
3,1,1,1,3,1,0,1,2,1,2,...,1,2,3,2,2,1,3,2,1,1
4,2,0,1,3,0,0,1,3,1,4,...,2,1,2,2,2,1,2,2,1,1
5,2,0,2,3,0,0,0,2,1,1,...,1,1,1,2,1,2,4,4,1,2
6,1,0,2,4,0,0,0,1,1,3,...,1,1,3,3,3,3,4,4,1,5
7,1,1,2,3,1,1,1,2,2,3,...,3,1,3,2,2,1,1,1,1,2
8,2,1,3,3,0,1,1,1,1,3,...,1,1,3,2,2,2,4,3,1,5
9,2,1,2,3,0,0,1,3,4,2,...,1,1,2,2,2,2,1,2,1,0

"Machine learning: one-hot encoding vs integer encoding" by Stéphanie Crêteur,Published in Geek Culture, Dec 16, 2022, https://medium.com/geekculture/machine-learning-one-hot-encoding-vs-integer-encoding-f180eb831cf1 was consulted when deciding which categories made sense to leave integer encoded, and which to ues One-Hot Encoding on.

In [7]:
# Get_dummies for categorical data where numeric values don't make sense
# These are columns 3, 9, 10, 14, 15, 16, 23, 24, 28, COURSE ID
encoded_student_df = pd.get_dummies(mapped_student_df, 
                                     columns=['3', '9', '10', '14', '15', '16', '23', '24', '28', 'COURSE ID'])
encoded_student_df.head()

,1,2,4,5,6,7,8,11,12,13,...,28_3,COURSE ID_1,COURSE ID_2,COURSE ID_3,COURSE ID_4,COURSE ID_5,COURSE ID_6,COURSE ID_7,COURSE ID_8,COURSE ID_9
0,2,0,3,1,0,0,1,1,2,3,...,0,1,0,0,0,0,0,0,0,0
1,2,0,3,1,0,0,1,2,3,2,...,0,1,0,0,0,0,0,0,0,0
2,2,0,3,0,0,0,2,2,2,2,...,0,1,0,0,0,0,0,0,0,0
3,1,1,3,1,0,1,2,1,2,5,...,0,1,0,0,0,0,0,0,0,0
4,2,0,3,0,0,1,3,3,3,2,...,0,1,0,0,0,0,0,0,0,0

The values of the rest of the columns are very close, so no need to apply StandardScaler.

## Logistic Regression Model

In [8]:
# In preparation for turning this into a "good grade/bad grade scenario" (C's get degrees?)
# Check to see that there are both "good" (3, 4, 5, 6, 7) and "bad" (0, 1, 2) grades
encoded_student_df['GRADE'].value_counts()

1    35
2    24
3    21
5    17
7    17
6    13
4    10
0     8
Name: GRADE, dtype: int64

In [9]:
# To make this a binary problem, replace "bad" grades with "0", and "good"
# grades with "1"
binary_student_df = encoded_student_df
binary_student_df['GRADE'] = binary_student_df['GRADE'].replace({1:0, 2:0, 3:1, 4:1, 5:1, 6:1, 7:1})
binary_student_df.tail()

,1,2,4,5,6,7,8,11,12,13,...,28_3,COURSE ID_1,COURSE ID_2,COURSE ID_3,COURSE ID_4,COURSE ID_5,COURSE ID_6,COURSE ID_7,COURSE ID_8,COURSE ID_9
140,2,1,3,1,1,0,1,1,2,2,...,0,0,0,0,0,0,0,0,0,1
141,1,1,4,0,0,0,1,1,1,5,...,0,0,0,0,0,0,0,0,0,1
142,1,1,4,0,0,0,1,3,4,4,...,0,0,0,0,0,0,0,0,0,1
143,2,1,4,1,1,1,5,4,4,1,...,0,0,0,0,0,0,0,0,0,1
144,1,1,5,0,0,0,3,3,1,5,...,0,0,0,0,0,0,0,0,0,1

In [10]:
# Separate Features X from Target y
y = binary_student_df['GRADE']
X = binary_student_df.drop(columns='GRADE')

# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10, stratify=y)
X_train.shape

(108, 63)

In [11]:
# Create Logistic Regression Model and check accuracy
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=10)
classifier.fit(X_train, y_train)
target_names = ["Bad Grade", "Good Grade"]
predictions = classifier.predict(X_test)
results_df = pd.DataFrame({'Prediction': predictions, 'Actual': y_test})
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
print(f"Accuracy Score: {accuracy_score(y_test, predictions)}")
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions, target_names=target_names))
results_df.tail(10)

Training Data Score: 0.9444444444444444
Testing Data Score: 0.7297297297297297
Accuracy Score: 0.7297297297297297
[[12  5]
 [ 5 15]]
              precision    recall  f1-score   support

   Bad Grade       0.71      0.71      0.71        17
  Good Grade       0.75      0.75      0.75        20

    accuracy                           0.73        37
   macro avg       0.73      0.73      0.73        37
weighted avg       0.73      0.73      0.73        37

     Prediction  Actual
46            1       1
109           1       1
0             0       0
38            0       0
82            1       1
43            0       1
87            0       1
142           1       0
34            0       0
11            1       0

# Model Optimization - Grid Search
Let's see if we can do better. Accuracy score is 73%, which is close but lower than the target of 75% accuracy.<br>

Model Metrics to be adjusted:<br>
<strong>C:</strong> Regularization Parameter vary from 0.001 to 1.0 (this controls the trade-off between fitting the training data well and keeping the model simple. A low C corresponds to a simple model, may underfit. A high C corresponds to a more complex model, but might overfit. The default value is 1.0.<br>
<strong>Class Weight:</strong> This deals with imbalanced data. "balanced" uses the values of y to adjust weights inversely porportional to class frequencies. The default value is None.<br>
<strong>Solver:</strong> The solver parameter specifies the algorithm to be used. 'liblinear' is a good choice for small datasets according to the scikitlearn documentation. The default value is 'lbfgs'.
<strong>Max Iterations:</strong> I chose to vary this because I was getting ConvergenceWarning messages, and I'm curious if more iterations will help accuracy. The default value is 100.

In [12]:
# Create a function to be used for optimization of the model
def BinomialLogRegress(C, class_weight, solver, max_iter, X_train, X_test, y_train, y_test):
    classifier = LogisticRegression(C=C, class_weight=class_weight, 
                                    solver=solver, max_iter=max_iter, random_state=10)

    # Fit (train) model using the training data
    classifier.fit(X_train, y_train)
    predictions = classifier.predict(X_test)
    acc_score = accuracy_score(y_test, predictions)
    return acc_score

In [13]:
# Find Model with highest accuracy score using the "Grid Search" tuning technique.
column_names = ['C', 'Class Weight', 'Solver', 'Max Iterations', 'Accuracy Score']
C_vals = [0.001, 0.25, 0.5, 0.75, 1.0]
class_weights = [None, 'balanced']
solvers = ['lbfgs', 'liblinear', 'newton-cg', 'sag', 'saga']
max_iters = [100, 150, 200, 300]
results = []

for C in C_vals:
    for weight in class_weights:
        for solver in solvers:
            for iter in max_iters:
                accuracy_val = BinomialLogRegress(C, weight, solver, iter, X_train, X_test, y_train, y_test)
                row = [C, weight, solver, iter, accuracy_val]
                results.append(row)
                
results_df = pd.DataFrame(results, columns=column_names)

C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [14]:
results_df

         C Class Weight     Solver  Max Iterations  Accuracy Score
0    0.001         None      lbfgs             100        0.540541
1    0.001         None      lbfgs             150        0.540541
2    0.001         None      lbfgs             200        0.540541
3    0.001         None      lbfgs             300        0.540541
4    0.001         None  liblinear             100        0.540541
..     ...          ...        ...             ...             ...
195  1.000     balanced        sag             300        0.810811
196  1.000     balanced       saga             100        0.810811
197  1.000     balanced       saga             150        0.810811
198  1.000     balanced       saga             200        0.810811
199  1.000     balanced       saga             300        0.810811

[200 rows x 5 columns]

In [ ]:
results_df.to_excel('logistic_regression_results.xlsx', index=False)

In [15]:
max_accuracy = results_df['Accuracy Score'].max()
max_accuracy_df = results_df[results_df['Accuracy Score']==max_accuracy]
max_accuracy_df

        C Class Weight     Solver  Max Iterations  Accuracy Score
84   0.50         None  liblinear             100        0.837838
85   0.50         None  liblinear             150        0.837838
86   0.50         None  liblinear             200        0.837838
87   0.50         None  liblinear             300        0.837838
96   0.50         None       saga             100        0.837838
104  0.50     balanced  liblinear             100        0.837838
105  0.50     balanced  liblinear             150        0.837838
106  0.50     balanced  liblinear             200        0.837838
107  0.50     balanced  liblinear             300        0.837838
116  0.50     balanced       saga             100        0.837838
144  0.75     balanced  liblinear             100        0.837838
145  0.75     balanced  liblinear             150        0.837838
146  0.75     balanced  liblinear             200        0.837838
147  0.75     balanced  liblinear             300        0.837838
156  0.75     balanced       saga             100        0.837838

I am curious how the precision and recall scores compare for these models.

In [16]:
# Loop through each row and extract the metrics for the model
for index, row in max_accuracy_df.iterrows():
    C = row['C']
    class_weight = row['Class Weight']
    solver = row['Solver']
    max_iter = row['Max Iterations']
    
    #Train and fit a model with the metrics
    classifier = LogisticRegression(C=C, class_weight=class_weight,
                                   solver=solver, max_iter=max_iter, random_state=10)
    classifier.fit(X_train, y_train)
    
    # Make predictions
    predictions = classifier.predict(X_test)
    
    # Get the Classification Report
    classifi_report = classification_report(y_test, predictions, target_names=target_names)
    print(f"Metrics: C={C}, Class Weight={class_weight}, Solver={solver}, Max Iterations=[max_iter]")
    print(confusion_matrix(y_test, predictions))
    print(classifi_report)

Metrics: C=0.5, Class Weight=None, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=None, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=None, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=None, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=None, Solver=saga, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.5, Class Weight=balanced, Solver=saga, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.75, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.75, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.75, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.75, Class Weight=balanced, Solver=liblinear, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

Metrics: C=0.75, Class Weight=balanced, Solver=saga, Max Iterations=[max_iter]
[[13  4]
 [ 2 18]]
              precision    recall  f1-score   support

   Bad Grade       0.87      0.76      0.81        17
  Good Grade       0.82      0.90      0.86        20

    accuracy                           0.84        37
   macro avg       0.84      0.83      0.83        37
weighted avg       0.84      0.84      0.84        37

C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\bonja\anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Since all of the Confusion matrices and Classification Reports are the same, Drop the rows where the only difference is the Max Iterations value, keeping the model with the fewest Max Iterations.

In [17]:
# Sort the max_accuracy_df by the "Max Iterations" column
max_accuracy_sorted_df = max_accuracy_df.sort_values(by='Max Iterations')

# Drop the duplicate rows based on the other metrics, keeping the min "Max Iterations"
filtered_max_accuracy_df = max_accuracy_sorted_df.drop_duplicates(subset=['C', 'Class Weight', 'Solver'], keep='first')

filtered_max_accuracy_df

        C Class Weight     Solver  Max Iterations  Accuracy Score
84   0.50         None  liblinear             100        0.837838
96   0.50         None       saga             100        0.837838
104  0.50     balanced  liblinear             100        0.837838
116  0.50     balanced       saga             100        0.837838
144  0.75     balanced  liblinear             100        0.837838
156  0.75     balanced       saga             100        0.837838